header{
	position: sticky;
	top: 0px;
	text-align:center;
}
body{
	position: absolute;
	left: 15%;
	width: 85%;
	margin: 0%;
}
header p{
	background-color: red;
	font-size: 40px;
	padding: 15px;
	margin: 0px; 
	font-family: sans-serif;
}

h1{
	text-align: center;	
	margin: 10px;
}

a{
	color: purple;
}

header nav{
	display: flex;
	gap:5%;
	background-color: black;
	justify-content: center;
}

nav button{
	width:215px;
	background-color: blue;
	color: white;
	font-size: 15px;
	padding: 10px;
}

header{
	margin-bottom: 30px;
}

#jumpMenu{
	display: flex;
	justify-content: space-between;
	flex-direction: column; 
	position: fixed;
	width: 15%;
	top: 0px;
	bottom: 0px;	
	left: 0px;
	text-align:center;
	background-color: orange;
}

#thanks{
	position: fixed;
	font-size: 30px;
	bottom: 0px;
	right: 0px;
	margin: 0;
	color: purple; 
	background-color: lightBlue;
	border-color: lightblue;
	border-style: solid;
	border-width: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#container{
	display: flex; 
	flex-wrap: wrap;
}

#container article{
	width: 300px;
	text-align: justify;
	font-size: 15px;
	margin-left: 50px;
}